*{
    margin: 0%;
    padding: 0%;
}
body{

    background-image: url("image/sk5.jpg");
    background-size: 100%;
    
}
h1{
    color: aqua;
}

.d1{
    width: 450px;
    height: 900px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 1%;
    margin-left: 34%;
}

.d1 .d2{
    position: relative;
    top: 7%;
}

.h1{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.h2{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.h3{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.h4{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.h5{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.h6{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;

}

.h7{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;

}

.h8{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white; 
}

.d2 .h9{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 30px;
}

.h9:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 20px;
    background-color: black;
}

p{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
}